<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  <body>
    <header class="jumbotron">
      <h2>Ejemplo para Log with Facebook</h2>
    </header>
    <div class="container-fluid">
