<%include ../Shared/layout %>
<% if(user){%>
<h1>Bienvenido <%=user.Nombre %></h1>
<h3>Email: <%=user.Email %></h3>
<h3>Photo: </h3>
<img alt="Imagen de Facebook" src="<%=user.Photo %>" />
  <% }%>
<%include ../Shared/footer %>